$menu-horizontal: (
	link-modifiers: (
		normal: (
			color: global-settings(colors, black),
			text-decoration-color: rgba(global-settings(colors, black), 0.15),
		),
		hover: (
			color: global-settings(colors, primary),
			text-decoration-color: rgba(global-settings(colors, primary), 1),
		),
	),
);

.menu-horizontal {
	@extend %list-reset;

	$this: &;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;

	&__link {
		text-decoration: underline;
		text-decoration-color: map-get-deep($menu-horizontal, link-modifiers, normal, text-decoration-color);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: text-decoration-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		overflow-wrap: anywhere;
		font-size: 1.75rem;
		padding: 1rem 2rem;

		@include link($menu-horizontal, link-modifiers);

		&:hover {
			text-decoration-color: map-get-deep($menu-horizontal, link-modifiers, hover, text-decoration-color);
			background-color: var(--global-colors-minsk-opaque);
		}

		@media (prefers-contrast: more) {
			text-decoration-color: map-get-deep($menu-horizontal, link-modifiers, hover, text-decoration-color);
		}
	}
}
