.quote {
	margin: 0;

	&__image {
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}

	&__image > img {
		overflow: hidden;
	}

	&__content {
		margin: 0;
	}

	&__separator::before {
		content: '';
		margin-bottom: 1rem;
		margin-top: 1rem;
		width: 7rem;
		background-color: var(--global-colors-black);
		height: 0.05rem;
		display: inline-block;
	}
}
