.image {
	$this: &;
	overflow: hidden;
	display: block;

	width: var(--image-img-width, auto);
	height: var(--image-img-height, auto);

	max-width: var(--image-img-max-width, 100%);
	max-height: var(--image-img-max-height, 100%);

	&__img {
		display: block;

		width: var(--image-img-width, auto);
		height: var(--image-img-height, auto);

		max-width: var(--image-img-max-width, 100%);
		max-height: var(--image-img-max-height, 100%);

		object-fit: cover;

		transition: transform 800ms ease-out, opacity 1.5s ease-out;

		&:hover {
			transform: scale(1.03);
		}

		opacity: 0;
		
		&--is-visible {
			opacity: 1;
		}
		
	}
}
