.card-overlay {
	height: 20rem;
	width: 20rem;
	text-align: var(--block-card-align);
	position: relative;

	&__image {
		padding-bottom: 1.5rem;
	}

	&__heading {
		padding-bottom: 0.5rem;
	}

	&__paragraph {
		padding-bottom: 1.5rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		padding: 2rem 1.5rem 0;
		gap: 2rem;

		position: absolute;
		left: 0;
		top: var(--card-overlay-top);
		bottom: var(--card-overlay-bottom);
	}
}
