// Style for example block on frontend
.block-bordered-grid {
	display: flex;
	flex-direction: column;

	@include media(tablet up) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	&__heading {
		margin-bottom: 2.25rem;
	}
}

.bordered-grid-element {
	padding: 2rem;
}

.bordered-grid-element:nth-child(odd) {
	@include media(tablet up) {
		border-right: 1px solid lightgray;
	}
}

.bordered-grid-element:nth-child(1) {
	@include media(tablet up) {
		border-bottom: 1px solid lightgray;
	}
}

.bordered-grid-element:nth-child(2) {
	@include media(tablet up) {
		border-bottom: 1px solid lightgray;
	}
}
